*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
main{
    padding-top: 99px;
}
#header{
    height: 15vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding-left: 70px;
    padding-right: 70px;
}
.le_nom{
    color: white;
    margin-left: 25px;
}
.ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}
li{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}